/* Global Styles */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#navbar {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding-top: 20px;
}
/* Mobile Navigation */
.mobile-nav ul {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 50%;
    left: 0;
}

.mobile-nav li {
    margin-right: -10px;
}

.mobile-nav a {
    color: #fff;
    text-decoration: none;
}
/* Hero Section Styles */
#hero h1, #about p {
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
}

#home-page button {
    background-color: #333;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
}
/* Add to Cart Button Styles */
.add-to-cart-btn, .btn {
    margin-top: -5px;
    font-size: 16px;
}

#about p {
    display: block;
    text-align: center;
}

#contact form input[type="text"], #contact textarea {
    width: 100%;
}
/* Footer Section Styles */
footer {
    background-color: #333;
    color: white;
    padding-top: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    text-align: center;
}

#footer p {
    font-size: 14px;
    margin-bottom: -10px;
}